*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1{
    position: absolute;
    width: 1px;
    height: 1px;
    margin:-1px;
    overflow: hidden;
}


/* -----------CABECALHO------------- */

:root{
    --corPrincipal: #FFF4F4;
    --font-family: "Hanken Grotesk", sans-serif;
    --corDourado: #C5A028;
    --corsecundaria: #fdf8f8;
}

.pagina_cadastro{
    background-color: #FFF4F4;
    height: 120px;    
    display: flex;
    align-items: center;
}

.container{
     width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.container_cadastro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.pesquisa{
    position: relative;
}

.pesquisa svg{
    width: 20px;
    fill: grey;
    position: absolute
}

.pesquisa input{
    padding-left: 25px;
    background-color: transparent;
    padding-bottom: 5px;
    border: none;
    border-bottom: solid 1px grey;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 20px;
}

input:focus{
    outline: none;
}

.pesquisa_inicio{
  text-decoration: none;
  font-family: "Hanken Grotesk", sans-serif;
  color: #cccccc;
  position: relative;
  font-size: 20px;
  text-align: center;
}

.pesquisa_inicio span{
    position: absolute;
    left: -5px;
    top: 8px;
    color: black;
}

.pesquisa_inicio hr{
    margin-top: 7px;
    width: 99px;
    background-color: #C5A028;
    border: none;
    height: 1px;
}

/* -----------BOTÃO DO MENU------------- */

.pagina_cadastro button{
    border: none;
    background: none;
    display: none;
}

.pagina_cadastro button svg{
    width: 50px;
}

/* -----------PÁGINA DE CADASTRO DE PRODUTOS------------- */

.imagem_jacquin img{
    width: 200px;
}

.cad_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.box_texto{
    font-family: "Libre Caslon text", serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;

}

.box_texto h2{
    font-size: 64px;
    font-weight: 700;
    background-image: linear-gradient(0deg, #f9f9f9, #f0f0f0); /* Posição do gradiente */
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    -webkit-text-fill-color: transparent;
}

.box_texto span{
    font-size: 32px;
    position: absolute;
    bottom: -5px;
    margin-bottom: 10px;
}

.box_texto hr{
    background-color: #C5A028;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    border: none;
    height: 2px;
}

/*------------FORMULÁRIO--------------*/

form{
    width: 100%;
}

.inputs_forms{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.lf_coluna{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.lf_linha{
    display: flex;
}

.input_img svg{
    max-width: 24px;
    width: 100%;
}

.form_coluna1,
.form_coluna2{
    max-width: 414px;
    width: 45%;
}

.input_img span,
form label{
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    resize: none;
}

form label{
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    color: #444;
    font-size: 12px;
    margin-bottom: 5px;
}

.inputs_forms input[type=text],
.inputs_forms textarea{
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    background-color: transparent;
    border-style: initial;
    border-bottom: solid 1px grey;
    resize: none;
    color: grey;
}

.linha_form2 textarea{
    height: 40px;
}

.linha_form4 textarea{
    height: 113px;
}

.span_imagem{
    font-family: "Hanken Grotesk", sans-serif;
    color: #444;
    font-size: 12px;
    font-weight: 500;
}

.inputs_forms input[type=file]{
    display: none;
}

.linha_form{
    margin-bottom: 20px;
}

.input_img label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border: #444;
    border: solid 1px #444;
}

.inputs_forms input[type=text]:focus,
.inputs_forms textarea:focus{
    outline: none;
}

.input_img label:hover{
    cursor: pointer;
}

.input_cat{
    width: 90%;
}

.input_cat input{
    max-width: 314px;
    margin-right: 20px;
}

.input_valor{
    width: 90%;
}

.input_valor input{
    margin-right: 20px;
    max-width: 360px;
}

.input_cadastro{
    margin: 100px auto 0;
    display: block;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #000000;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 16px 55px;
    cursor: pointer;
    letter-spacing: 3px;
}

form input[type=checkbox]{
    height: 25px;
}


/*-------------LISTA E PRODUTOS-----------*/

.list_produtos{
    background-color: var(--corsecundaria);
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 50px; também funcionária como o padding-bottom*/
}

table{
    width: 100%;
    font-family: var(--font-family);
    text-transform: uppercase;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 100px;
}

table svg{
    width: 35px;
}

thead{
    font-size: 12px;
    font-weight: 600;
    color: #444;
}

tbody{
    color: #aaaaaa;
    font-weight: 400;
    border: #aaaaaa;
}

tr, td{
    border-bottom: solid 1px;
    padding: 5px 10px;
}

/* -----------RODAPÉ------------- */

footer div{
    background-color: #FFF4F4;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Hanken Grotesk", sans-serif;
}

footer nav a{
    color: #AAAAAA;
    text-decoration: none;
}

footer nav{
    display: flex;
    justify-content: space-between;
    width: 160px;
}




/* -----------MEDIAS------------- */

@media screen and (max-width:768px){
    .pagina_cadastro button{
        display: block;
    }

    .pesquisa{
        display: none;
    }

    .pesquisa_inicio{
        display: none;
    }

    .box_texto h2{
        font-size: 32px
    }

    .box_texto span{
        font-size: 20px;
    }

    .box_texto hr{
        width: 70%;
    }

    .imagem_jacquin img{
        width: 150px;
        margin-bottom: -60px;
        margin-top: -50px;
    }


    /*------------------FORMULÁRIO---------------*/

    .inputs_forms {
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    .form_coluna1,
    .form_coluna2{
        width: 95%;
    }

    .lf_coluna{
        margin-bottom: 30px;
    }
    
    .lf_linha{
        justify-content: space-between;
    }


    /*------------------TABELA---------------*/
    
    thead{
        display: none;
    }

    tbody tr{
        display: flex;
        flex-direction: column;
        border: solid 1px #aaaaaa;
        border-radius: 10px;
        background-color: #ffffffff;
        box-shadow: 0px 10px 5px;
        max-width: 500px;
        margin: 0 auto 50px;
    }

    tbody td{
        border: none;
    }

    tbody td::before{
        content:  attr(data-cell) ":";
        font-size: 12px;
        color: #444;
        font-weight: 600;
    }


    footer div{
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
        flex-wrap: wrap;
        gap: 20px;
        
    }

    footer div{
        height: 130px;
    }

    footer img{
        width: 100px;
        margin-bottom: -60px;
        margin-top: -50px;
    }

    footer span, 
    nav{
        font-size: 10px;
        margin-bottom: -60px;
        margin-top: -50px;
    }

    nav{
        max-width: 20%;
    }

    .div-um {
        order: 2; /* Vai para o segundo lugar no mobile */
    }

    .div-tres {
        order: 1; /* Vai para o primeiro lugar no mobile */
    }

    .div-dois {
        order: 3; /* Vai para o terceiro lugar no mobile */
    }
}




